<table class="table-chart-el">
	<thead>
		<tr>
			<th class="color-col">Colors</th>
			<th>Parameters</th>
			<th class="data-col">365D</th>
			<th class="data-col">1000D</th>
			<th class="delta-col">Delta</th>
		</tr>
	</thead>
	<tbody data-rows>
		<tr data-row-tpl class="paginated-row" style>
			<td class="color-col" data-col-color>
				<span></span>
			</td>
			<td data-col-name></td>
			<td data-col-costs="365"></td>
			<td data-col-costs="1000"></td>
			<td class="delta-col" data-col-delta>
				<input name="selected" value="" type="radio">
				<label data-col-hold></label>
			</td>
		</tr>
	</tbody>
</table>
