// sensitivity graph grid
.sensitivity-graph {
	.axis *{
		fill: rgba(0,0,0,.35);
	}
	.grid .tick line{ 
		stroke: rgba(255,255,255,1);
	}
	.grids .tick line{ 
		stroke: rgba(255,255,255,.35);	
	}
	.domain {
		stroke: rgba(0,0,0,.2);	
	}
	.grid {
		fill: rgba(0,0,0,.01);
	}
}

.curve {
	fill: none;
}