<div class="modal-overlay table-modal add-new-graph" data-modal="new graph">
	<div class="modal-wrap">
		<div class="modal-content-wrap">
			<!-- Header -->
			<div class="modal-header">
				<span>Add New</span>
				<span class="toggle-modal" data-modal="new graph"><span class="icon icon-close blue"></span></span>
			</div>
			<!-- Main action -->
			<div class="modal-subheader">
				<table>
					<thead>
						<tr>
							<th>
								<a href="javascript:;" data-add-graph>
									Add New Graph
								</a>
								<span class="action-info">(default parameters)</span>
							</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="modal-content">
				<table>
					<tbody>
						<!-- graph names -->
						<!-- <tr class="graph-row" data-row-graph>
							<td colspan="4"><a href="javascript:;" data-col-name></a></td>
						</tr> -->
						<!-- graph saves -->
						<tr class="load-row" data-row-load>
							<td><a href="javascript:;" data-add-graph-scneario>Load From</a></td>
							<td data-col-date></td>
							<td data-col-time></td>
							<td class="name" data-col-total></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>