<!-- export PDF modal -->
<div class="modal-overlay" data-modal="export">
	<div class="modal-wrap">
		<div class="modal-content-wrap">
			<div class="modal-header">
				<span>EXPORT PDF</span>
				<span class="toggle-modal" data-modal="export"><span class="icon icon-close blue"></span></span>
			</div>
			<div class="modal-content">
				<div class="export-method">
					<div class="title" data-export-pdf-title></div>
					<p data-pdf-name></p>
					<a href="javascript:;" class="btn btn-primary" data-download-pdf><span class="icon icon-download"></span>Download</a>
				</div>
				<div class="export-method">
					<div class="title">Or Share it via email</div>
					<input placeholder="Enter email address" type="email" data-share-email>
					<a href="javascript:;" class="btn btn-primary" data-share-pdf>SEND EMAIL</a>
				</div>
			</div>
		</div>
	</div>
</div>