<!-- Save scenario Modal -->
<div class="modal-overlay save-scenario-modal" data-modal="save">
	<div class="modal-wrap">
		<div class="modal-content-wrap">
			<div class="modal-header">
				<span>Save This Scenario</span>
				<span class="toggle-modal" data-modal="save"><span class="icon icon-close blue"></span></span>
			</div>
			<div class="modal-content">
				<div class="flex-between">
					<span>Scenario Name</span>
					<span class="light-text"> <span data-save-date></span> <span data-save-time></span></span>
				</div>
				<input value="" id="newScenarioName">
				<div class="text-center">
					<div class="btn btn-primary" data-save-scenario>Save</div>
				</div>
			</div>
		</div>
	</div>
</div>